<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<property name="logger.appid" value="pingp" />
	<property name="logger.dir" value="/opt/logs" />
	<property name="logger.stdoutloglevel" value="INFO" />
	<property name="logger.rootloglevel" value="INFO" />
	<contextName>${logger.appid}</contextName>
	
	<logger name="org.springframework" level="WARN" />
	<logger name="com.ping.file.client" level="WARN" />
	<!--<logger name="com.ping.file.serv" level="DEBUG" />-->
	
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>${logger.stdoutloglevel}</level>
		</filter>
		<encoder>
			<immediateFlush>true</immediateFlush>
			<pattern>[%date{HH:mm:ss.SSS}][%thread][%-5level][%file,%line] %msg%n</pattern>
		</encoder>
	</appender>
	<!--
	<appender name="FILE" append="true" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${logger.dir}/${logger.appid}.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${logger.dir}/${logger.appid}_%d{yyyy-mm-dd-HH}.log.zip</fileNamePattern>
			<maxHistory>30</maxHistory>
			<totalSizeCap>10GB</totalSizeCap>
		</rollingPolicy>
		<triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
			<maxFileSize>100MB</maxFileSize>
		</triggeringPolicy>
		<encoder>
			<pattern>%d{HH:mm:ss.SSS}[%thread][%-5level] %m%n</pattern>
		</encoder>
	</appender>
	-->
	<root level="${logger.rootloglevel}">
		<appender-ref ref="STDOUT" />
		<!--<appender-ref ref="FILE" />-->
	</root>

</configuration>
